* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header {
    width: 100%;
    height: 100vh;
    background: url(./images/wallpaperflare.com_wallpaper.jpg);
    padding: 32px 64px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 230px;
    height: 100px;
}

.navigation-links {
    display: flex;
    gap: 64px;
}

a {
    text-decoration: none;
    color: black;
}

